body{
    color: whitesmoke;
    background-color: black;
    margin: 0px;
}
header{
    border-bottom:solid 2px rgb(255, 68, 68);
    padding: 20px;
    font-size: 32px;
    color:red; 
}
section{
    background: rgba(255, 0, 0, 0.739);
}